*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sign-up{
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.left{
    width: 736px;
    height:1080px;
    position:relative;
}

.left img{
    width: 100%;
    height: 100%;
}

.left p{
    width:105px ;
    height: 24px;
    position: absolute;
    top:32px ;
    left: 315px;
    font-weight:600;

}

.right-signup{
    width:456px;
    height: 520px;
    /* border: 1px,solid,black; */
    gap: 24px;
}

.sub-sign-up{
    width: 456px;
    height: 94px;
    gap: 24px;
}

.sub-sign-up h2 {
    width: 456px;
    height: 44px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.4px;
}

.sub-sign-up p{
    width:456px ;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
}

.sub-sign-up a{
    color:#38CB89;
    text-decoration: none;
}

.form{
    width: 456px;
    height: 314px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.form input{
    width: 456px;
    height: 40px;
    padding-bottom: 8px;
}

.form button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 8px;

}

.checkbox {
   
    display: flex;
    margin-left:-105px;

}



